*{
  box-sizing: border-box;
}
body{
  color: rgba(255, 255, 255, 0.853);
}

main{
  padding: 10px;
  max-width: 100%;
  /* humare main page jismai content aayega uski width  */
  margin: 0 auto;
}
header{
  display:flex;
  justify-content:space-between;
  margin-top: 10px;
  margin-bottom: 50px;
  align-items: center;
}
header a{
  text-decoration:none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
  /* margin-right: 900px; */
  margin-left:-80%;
}
/* nav mai login and register hai   unke bech mai gap */
header nav{
  display:flex;
  gap: 24px;
}
img{
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.post{
  /* post hai 2 parts iamge and texts div */
  display: grid;
  grid-template-columns:0.9fr 1.1fr;
  gap: 20px;
  /* margin-bottom: 30px; */
  margin: 0 auto 30px 11%; 
  align-items: center;
  max-width: 85%;
   /* space btw 2 posts */
}
@media screen and (min-width: 700px) {
  div.post{
      grid-template-columns: .9fr 1.1fr;
  }
}
div.post div.texts h2{
  margin:0;
  font-size: 2rem;
  text-decoration: none;
}
div.post p.info{
  /* info mai author and time */
  margin:24px 0;
  color: #888;
  font-size:1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author{
  color:#333;
  
}
div.post p.summary{
  margin:10px 0;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.838);
}
form.login, form.register {
  max-width: 400px;
  margin: 120px auto;
  /* centre from left & right */
}
input{
    display: block;
    margin-bottom: 14px;
    width: 100%;
    padding: 8px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
button{
    cursor: pointer;
    width: 100%;
    /* but still button width!= input due to padding on left and right  so add box sizing on page  */
    display: block;
    background-color: #555;
    border:0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
}
form.login h1, form.register h1{
  text-align: center;
}


div.post-page div.image{
  max-height:500px;
  display: flex;
  overflow:hidden;
  align-items: center;
}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5%;
}
div.post-page a{
  color:whitesmoke;
  text-decoration: underline;
}
div.post-page h1{
  text-align: center;
  margin: 10px 0 5px;
  font-size:3rem;
  font-weight: bold;
}
div.post-page time{
  text-align: center;
  display: block;
  font-size:1rem;
  color:#aaa;
  margin: 10px 0;
  
}
div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
  padding-bottom: 40px;
}
div.content p{
  line-height: 1.7rem;
  margin: 30px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.content li{
  margin-bottom: 10px;
}
div.edit-row{
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding:15px 30px;
  border-radius: 5px;
  text-decoration: none;
}
a svg{
  height:20px;
}
.inpcreate{
  display: block;
    margin-bottom: 14px;
    width: 80%;
    padding: 8px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: black;

}
.postform{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postbtn{
  cursor: pointer;
  width: 80%;
  /* but still button width!= input due to padding on left and right  so add box sizing on page  */
  display: block;
  background-color: #555;
  border:0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
  /* margin-left: 5%; */
}
.blogg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 60px; /* Adjust the desired font size */
  text-shadow: 5px 5px 7px rgba(166, 66, 66, 0.2);

}
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
  header a.logo {
    /* display: flex; */
    /* flex-direction: column; */
    margin-right: 10px;
    margin-bottom: 10px;
  }
  header nav {
    margin-top: 10px;
    
  }
  .post {
    grid-template-columns: 1fr;
    margin: 0 auto 30px;
  }
  div.post div.texts h2 {
    font-size: 1.5rem;
  }
  form.login,
  form.register {
    margin: 80px auto;
  }

  .inpcreate {
    width: 100%;
  }

  .postform {
    margin-top: 10%;
  }
}
.delbtn{
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  background-color: #333;
  padding:13px 30px;
  border-radius: 5px;
  text-decoration: none;
  max-width: 14%;
  max-height: 10%;
  margin-left: 2%;
}


.form {
  display: flex;
  flex-direction: column;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 1500px;
  padding: 20px;
  width: 5000px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

/* .cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 420px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 206px;
} */

/* .cut-short {
  width: 50px;
} */

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;

  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
.register{
  
  border: white 2px solid;
  margin: 2px 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 18px;
  width: 70%;
  background-color: #15172b;
  border-radius: 20px;
}